---
layout: default
---
{% if page.path == "index.html" %}
  <p class="fade-on-start fade-in-right third blurb">
    Hey! I'm Aaron. I'm a software developer in New York City.
  </p>
{% endif %}
<div class="fade-on-start third">
  <div class="content">
    <h3>recent work</h3>
      <h2><strong>Projects</strong></h2>
        <p><a href="" class="link-snap">muvy</a></p>
      <h2><strong>Articles</strong></h2>
        {% for post in site.posts %}
          <p><a href="{{ post.url }}" class="link-snap">{{ post.title }}</a></p>
          <p class="date">{{ post.date | date: "%B %e %Y" }}</p>
        {% endfor %}
  </div>
</div>
