<nav class="{% if page.path == "index.html" %}fade-on-start second{% endif %}">
  <ul>
    <li><a href="/projects/" class="{% if page.title == "Projects" %}active{% endif %}">Projects</a></li>,
    <li><a href="/contact/" class="{% if page.title == "Contact" %}active{% endif %}">Contact</a></li>,
    <span class="mobile-separator"></span>
    <li><a href="/about/" class="{% if page.title == "About" %}active{% endif %}">About</a></li>,
    <li><a href="">R&eacute;sum&eacute;</a></li>.
  </ul>
</nav>
