// Colors
$weird-blue: #00879A;
$weird-peach: #ff8142;
$weird-peach-weak: rgba(255, 129, 66, 0.5);
$weird-grey: #c9c9c9;
$weird-grey-weak: rgba(201, 201, 201, 0.5);
$harder-grey: #b2b2b2;
$dark-plum: #5c2e56;
$brandColors: (
  // gmail: #c71610,
  github: #181616,
  linkedin: #007BB6,
  facebook: #3C5A99,
  instagram: #D93175,
  twitter: #1DA1F2
);
// Mobile breakpoints
