$weird-blue: #00879A;
$weird-peach: #ff8142;
$weird-peach-weak: rgba(255, 129, 66, 0.5);
$dark-plum: #3d588f; // #5c2e56, #8c2f58

$brandColors: (
  // gmail: #c71610,
  github: #181616,
  linkedin: #007BB6,
  // facebook: #3C5A99,
  instagram: #D93175,
  twitter: #1DA1F2
);

$link-grey: #d9d9d9;
$link-grey-weak: #ededed;
$link-border-size: 2px;
