/**
 * Fonts
 */
@import url(https://fonts.googleapis.com/css?family=Playfair+Display|Work+Sans:300,400,500);

body {
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 70%;
  margin: 0 auto;
}

// Mobile container
@media only screen and (max-width: 500px) {
  .container {
    width: 100%;
    margin-left: 6%;
  }
}

/**
 * Site header
 */
header {
  h1 {
    font-family: 'Playfair Display', serif;
    font-size: 84px;
    font-weight: 400;
    position: relative;
    margin-top: 280px;
  }

  a {
    text-decoration: none;
    color: #000;
  }
}
