/**
 * Fonts
 */
@import url(https://fonts.googleapis.com/css?family=Playfair+Display|Eczar:400,700|Work+Sans:300,400,500,700);

/**
 * Container
 */

.container {
  max-width: 66%;
  margin: 0 auto;
}

@media only screen and (max-width: 500px) { // MOBILE < 500 PX
  .container {
    max-width: 100%;
    margin: 6%;
  }
}

/**
 * Site header
 */

header {
  h1 {
    font-family: 'Playfair Display', serif;
    font-size: 84px;
    font-weight: 400;
    position: relative;
    margin-top: 280px; // TOP SPACE. ALTERNATIVE: VERTICAl-ALIGN: MIDDLE
  }

  a {
    text-decoration: none;
    color: black;
  }
}

nav {
  font-weight: 400;
  letter-spacing: 0.10px;
  /**
   * Unselectable
   */
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  ul {
    list-style: none;
    font-size: 23px;
    padding: 0;
  }

  li {
    display: inline;

    a {
      text-decoration: none;
      color: $weird-blue;
    }

    a:hover, a:active {
      color: black;
    }
  }
}

/**
 * Fading
 */

@-webkit-keyframes fadeIn {
  from { opacity: 0; } to { opacity: 1; }
}

@-moz-keyframes fadeIn {
  from { opacity: 0; } to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; } to { opacity: 1; }
}

.fade-on-start {
	opacity: 0;
	-webkit-animation: fadeIn ease 1;
	-moz-animation: fadeIn ease 1;
	animation: fadeIn ease 1;

	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;

	-webkit-animation-duration: 0.6s;
	-moz-animation-duration: 0.6s;
	animation-duration: 0.6s;

  &.first {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
  }

  &.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
  }

  &.third {
  -webkit-animation-delay: 1.0s;
  -moz-animation-delay: 1.0s;
  animation-delay: 1.0s;
  }

  &.fourth {
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  animation-delay: 1.4s;
  }
}

@-webkit-keyframes fadeInRight {
  0% {
     opacity: 0;
     -webkit-transform: translateX(20px);
  }
  100% {
     opacity: 1;
     -webkit-transform: translateX(0);
  }
}

@keyframes fadeInRight {
   0% {
      opacity: 0;
      transform: translateX(20px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

.fade-in-right {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/**
 * Body
 */

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  line-height: 1.15;
}

p.blurb {
  margin-top: -15px;
  margin-bottom: 50px;
}

p.info {
  line-height: 1.54;
  max-width: 760px;
}

.content {
  text-indent: 20px;

  h3 {
    font-family: 'Eczar', serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  h2 {
    font-size: 1.4em;
    margin-top: 30px;
    margin-bottom: -16px;
  }
}

a {

}
