---
layout: post
title: Loved Lists&#58; Albums
category: posts
tags: music
---
<div class="about">
  <div class="content">
    <h3 id="top">loved lists&#58; albums</h3>
    My favorite albums from recent years.<br>Browse by year or <span id="puts_random_link"></span>.

    {% for y in site.data.music %}
      <h3 style="margin-top: 30px;">{{ y.year }}</h3>
      {% for a in y.albums %}
        <a href="{{ a.link }}" class="link-snap" target="_blank">{{ a.artist }} - {{ a.title }}</a><br>
      {% endfor %}
    {% endfor %}
    <a href="#top" class="link-snap back-to-top">&#x21c8;</a>
  </div>
</div>

<script>
  const music_data = {{ site.data.music | jsonify }};

  const randomLink = function() {
    const random_year = Math.floor(Math.random() * music_data.length);
    const random_album = Math.floor(Math.random() * (music_data[random_year].albums.length));
    return (music_data[random_year].albums[random_album].link);
  };

  const buildLink = function() {
    const link = document.createElement('a');
    const linkText = document.createTextNode("choose one at random");
    link.setAttribute("href", randomLink());
    link.setAttribute("target", "_blank");
    link.setAttribute("onClick", "location.reload();");
    link.setAttribute("class", "link-snap");
    link.appendChild(linkText);
    return link;
  }

  document.getElementById("puts_random_link").appendChild(buildLink());
</script>
