---
layout: post
title: Loved Lists&#58; Albums
category: posts
tags: music
---
<div class="content about">
  <h3 id="top">loved lists&#58; albums</h3>
  My favorite albums from recent years.<br>Browse by year or <span id="puts-random-link"></span>.

  {% for y in site.data.music %}
    <h3 style="margin-top: 30px;">{{ y.year }}</h3>
    {% for a in y.albums %}
      <a href="{{ a.link }}" class="link-snap" target="_blank">{{ a.artist }} - {{ a.title }}</a><br>
    {% endfor %}
  {% endfor %}
  <a href="#top" class="back-to-top">&#x21c8;</a>
</div>

<script>
  const music = {{ site.data.music | jsonify }};

  const randomLink = function() {
    const randomYear = Math.floor(Math.random() * music.length);
    const randomAlbum = Math.floor(Math.random() * (music[randomYear].albums.length));
    return (music[randomYear].albums[randomAlbum].link);
  };

  const buildLink = function() {
    const link = document.createElement('a');
    const linkText = document.createTextNode("choose one at random");
    link.setAttribute("href", randomLink());
    link.setAttribute("target", "_blank");
    link.setAttribute("onClick", "location.reload();");
    link.setAttribute("class", "link-snap");
    link.appendChild(linkText);
    return link;
  }

  document.getElementById("puts-random-link").appendChild(buildLink());
</script>
