<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.title }}</title>
    {% include meta.html %}
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ "assets/main.css" | absolute_url }}">
  </head>
  <body>
  {% if page.path == "index.html" %}<script>document.body.dataset.faded = sessionStorage.faded || 0;</script>{% endif %}
    <div class="container">
      <header class="{% if page.path == "index.html" %}fade-on-start{% endif %}">
        <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
      </header>
      {% include navigation.html %}
      {{ content }}
    </div>
  {% include analytics.html %}
  </body>
</html>
